/* Primary */
.bg-custom-primary {
    background: linear-gradient(72.47deg, rgba(41, 85, 200, 1) 22.16%, rgba(63, 106, 216, 0.9) 76.47%);
    box-shadow: 0 .125rem .625rem rgba(63,106,216,.4), 0 .0625rem .125rem rgba(63,106,216,.5);
    color: rgba(255,255,255,.85);
}

.bg-custom-primary-full {
    background: rgba(41, 85, 200, 1);
    box-shadow: 0 .125rem .625rem rgba(63,106,216,.4), 0 .0625rem .125rem rgba(63,106,216,.5);
    color: rgba(255,255,255,.85);
}

.nav-custom-primary {
    border-left-width: 4px;
}

.nav-custom-primary-active {
    color: rgba(41, 85, 200, 1);
    border-left: 4px solid rgba(41, 85, 200, 1);
    font-weight: 600;
    background: rgb(229 231 235);
}

/* Success */
.bg-custom-success {
    background: linear-gradient(72.47deg, rgba(49, 166, 106, 1) 22.16%, rgba(58, 196, 125, 0.9) 76.47%);
    box-shadow: 0 .125rem .625rem rgba(58,196,125,.4), 0 .0625rem .125rem rgba(58,196,125,.5);
    color: rgba(255,255,255,.85);
}

.bg-custom-success-full {
    background: rgba(49, 166, 106, 1);
    box-shadow: 0 .125rem .625rem rgba(58,196,125,.4), 0 .0625rem .125rem rgba(58,196,125,.5);
    color: rgba(255,255,255,.85);
}

.nav-custom-success {
    border-left-width: 4px;
}

.nav-custom-success-active {
    color: rgba(49, 166, 106, 1);
    border-left: 4px solid rgba(49, 166, 106, 1);
    font-weight: 600;
    background: rgb(229 231 235);
}

/* Warning */
.bg-custom-warning {
    background: linear-gradient(72.47deg, rgba(236, 169, 9, 1) 22.16%, rgba(247, 185, 36, 0.9) 76.47%);
    box-shadow: 0 .125rem .625rem rgba(247,185,36,.4), 0 .0625rem .125rem rgba(247,185,36,.5);
    color: rgba(255,255,255,0.95);
}

.bg-custom-warning-full {
    background: rgba(236, 169, 9, 1);
    box-shadow: 0 .125rem .625rem rgba(247,185,36,.4), 0 .0625rem .125rem rgba(247,185,36,.5);
    color: rgba(255,255,255,0.95);
}

.nav-custom-warning {
    border-left-width: 4px;
}

.nav-custom-warning-active {
    color: rgba(236, 169, 9, 1);
    border-left: 4px solid rgba(236, 169, 9, 1);
    font-weight: 600;
    background: rgb(229 231 235);
}

/* Danger */
.bg-custom-danger {
    background: linear-gradient(72.47deg, rgba(184, 31, 68, 1) 22.16%, rgba(217, 37, 80, 0.9) 76.47%);
    box-shadow: 0 .125rem .625rem rgba(217,37,80,.4), 0 .0625rem .125rem rgba(217,37,80,.5);
    color: rgba(255,255,255,.85);
}

.bg-custom-danger-full {
    background: rgba(184, 31, 68, 1);
    box-shadow: 0 .125rem .625rem rgba(217,37,80,.4), 0 .0625rem .125rem rgba(217,37,80,.5);
    color: rgba(255,255,255,.85);
}

.nav-custom-danger {
    border-left-width: 4px;
}

.nav-custom-danger-active {
    color: rgba(184, 31, 68, 1);
    border-left: 4px solid rgba(184, 31, 68, 1);
    font-weight: 600;
    background: rgb(229 231 235);
}

/* Info */
.bg-custom-info {
    background: linear-gradient(72.47deg, rgba(0, 152, 239, 1) 22.16%, rgba(22, 170, 255, 0.9) 76.47%);
    box-shadow: 0 .125rem .625rem rgba(22,170,255,.4), 0 .0625rem .125rem rgba(22,170,255,.5);
    color: rgba(255,255,255,.85);
}

.bg-custom-info-full {
    background: rgba(0, 152, 239, 1);
    box-shadow: 0 .125rem .625rem rgba(22,170,255,.4), 0 .0625rem .125rem rgba(22,170,255,.5);
    color: rgba(255,255,255,.85);
}

.nav-custom-info {
    border-left-width: 4px;
}

.nav-custom-info-active {
    color: rgba(0, 152, 239, 1);
    border-left: 4px solid rgba(0, 152, 239, 1);
    font-weight: 600;
    background: rgb(229 231 235);
}

/* Secondary */
.bg-custom-secondary {
    background: linear-gradient(72.47deg, rgba(90, 98, 104, 1) 22.16%, rgba(108, 117, 125, 0.9) 76.47%);
    box-shadow: 0 .125rem .625rem rgba(108,117,125,.4), 0 .0625rem .125rem rgba(108,117,125,.5);
    color: rgba(255,255,255,.85);
}

.bg-custom-secondary-full {
    background: rgba(90, 98, 104, 1);
    box-shadow: 0 .125rem .625rem rgba(108,117,125,.4), 0 .0625rem .125rem rgba(108,117,125,.5);
    color: rgba(255,255,255,.85);
}

.nav-custom-secondary {
    border-left-width: 4px;
}

.nav-custom-secondary-active {
    color: rgba(90, 98, 104, 1);
    border-left: 4px solid rgba(90, 98, 104, 1);
    font-weight: 600;
    background: rgb(229 231 235);
}

/* Alternate */
.bg-custom-alternate {
    background: linear-gradient(72.47deg, rgba(99, 62, 113, 1) 22.16%, rgba(121, 76, 138, 0.9) 76.47%);
    box-shadow: 0 .125rem .625rem rgba(121,76,138,.4), 0 .0625rem .125rem rgba(121,76,138,.5);
    color: rgba(255,255,255,.85);
}

.bg-custom-alternate-full {
    background: rgba(99, 62, 113, 1);
    box-shadow: 0 .125rem .625rem rgba(121,76,138,.4), 0 .0625rem .125rem rgba(121,76,138,.5);
    color: rgba(255,255,255,.85);
}

.nav-custom-alternate {
    border-left-width: 4px;
}

.nav-custom-alternate-active {
    color: rgba(99, 62, 113, 1);
    border-left: 4px solid rgba(99, 62, 113, 1);
    font-weight: 600;
    background: rgb(229 231 235);
}

/* Light */
.bg-custom-light {
    background: linear-gradient(72.47deg, rgba(219, 219, 219, 1) 22.16%, rgba(238, 238, 238, 0.9) 76.47%);
    box-shadow: 0 .125rem .625rem rgba(238,238,238,.4), 0 .0625rem .125rem rgba(238,238,238,.5);
    color: rgba(0,0,0,.85);
}

.bg-custom-light-full {
    background: rgba(219, 219, 219, 1);
    box-shadow: 0 .125rem .625rem rgba(238,238,238,.4), 0 .0625rem .125rem rgba(238,238,238,.5);
    color: rgba(0,0,0,.85);
}

.nav-custom-light {
    border-left-width: 4px;
}

.nav-custom-light-active {
    color: rgba(219, 219, 219, 1);
    border-left: 4px solid rgba(219, 219, 219, 1);
    font-weight: 600;
    background: rgb(229 231 235);
}

/* Dark */
.bg-custom-dark {
    background: linear-gradient(72.47deg, rgba(35, 39, 43, 1) 22.16%, rgba(52, 58, 64, 0.9) 76.47%);
    box-shadow: 0 .125rem .625rem rgba(52,58,64,.4), 0 .0625rem .125rem rgba(52,58,64,.5);
    color: rgba(255,255,255,.85);
}

.bg-custom-dark-full {
    background: rgba(35, 39, 43, 1);
    box-shadow: 0 .125rem .625rem rgba(52,58,64,.4), 0 .0625rem .125rem rgba(52,58,64,.5);
    color: rgba(255,255,255,.85);
}

.nav-custom-dark {
    border-left-width: 4px;
}

.nav-custom-dark-active {
    color: rgba(35, 39, 43, 1);
    border-left: 4px solid rgba(35, 39, 43, 1);
    font-weight: 600;
    background: rgb(229 231 235);
}

.custom-separator {
    background: rgba(255,255,255,.35);
    color: rgba(255,255,255,.35);
}

.custom-text-light {
    color: #FEFEFE
}

.custom-text-light:hover {
    color: #DDDDDD
}

.form-horizontal [id*="form-item-message"] {
   width: 100%;
   margin-left: 100px;
}

.scroll-container {
    overflow-x: scroll;
}
  
.scroll-container::-webkit-scrollbar {
    width: 4px; /* Custom width for vertical scrollbar */
    height: 4px; /* Custom height for horizontal scrollbar */
  }

.scroll-container::-webkit-scrollbar-track {
    background: #ccc; /* Track color */
}

.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 8px; /* Thumb border radius */
    border: 4px solid #999; /* Adds space around thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}